{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Learn about Paper Masters - at papermasters.com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Paper Masters was founded in 1998 to provide custom research papers. Freelance writers have been writing for the Pennsylvania company for over 14 years." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/about-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
<h1>About Paper Masters</h1>              
<p><b>Paper Masters was started in 1998</b> in San Diego, CA in a 1 room office.
    Recognizing the need for a research and writing company that did only custom written research and reports, the small staff began hiring freelance writers to produce custom research. 
    By the year 2000, Paper Masters needed to branch out and was acquired by E World Publishing, Inc. and moved to beautiful Northeastern Pennsylvania.</p>

<p><b>E World Publishing, Inc. also started in 1998</b> as a small, family operation out of Hunlock Creek, Pennsylvania. 
    E World gave Paper Masters access to qualified, professional freelance writers and a large network of publishing professionals has spurred Paper Masters' growth from a family business to being recognized as the top custom academic research writing company in the world. 
    An Internet business for over 25 years, E World has gained a solid reputation as one of the premier research and writing companies in e-commerce. Ghost writing, web content, business plans, research reports and virtually any type of custom research is available through the over 70 freelance writers we have in many different fields.</p>

<h2>Paper Masters - Growing to Meet Your Custom Writing Needs</h2>

<p><b>Today, Paper Masters has 4 satellite locations</b> and a full staff to accommodate the over 15,000 custom research paper orders we receive a year. 
    Under E World's outstanding commitment to academic research, Paper Masters experienced a boom in growth.</p>
<p><b>Paper Masters has many writers</b> in virtually every field of study, a full staff and yet still holds on to its original mission - providing quality, custom research with outstanding attention to customer service. </p>
<p><b>Paper Masters is dedicated</b> to providing outstanding customer service 24 hours a day, 7 days a week. 
    With friendly staff members always available for your questions, you never have to worry if you've made the right choice for your research needs.</p>


<h3>E World/Paper Masters Location</h3>

<p><b>Paper Masters is located in beautiful Northeastern Pennsylvania,</b> at the base of the Pocono Mountains. 
    In keeping with the community feeling we cherish here, E World reaches out to all our clients and invites them to become part of our Paper Masters community. 
    Located in Northeastern Pennsylvania, E World maintains its commitment to its roots as a family run business while adding daily to its staff of qualified writers. 
    With a commitment to quality, E World challenges anyone to find a more dedicated, customer service oriented Internet based company than what we have built our reputation on. </p>
        
<h3>Internet Timeline of Paper Masters</h3>

<p><b>We logged on to the internet for the first time in 1998.</b> That's over 24 years ago, and we have been here the whole time! How things have changed! What hasn’t changed is our mission to provide comprehensive, custom writing services for students!</p>
    
    {% endblock content %}