{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Contact Paper Masters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Contact Paper Masters (E World Publishing) for custom essay writing, term papers, research papers and more. Our Staff is available for you 24 hours a day." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5 is-hidden-mobile" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Contact Paper Masters </h1>
  <p><strong>Paper Masters was started in 1998 </strong>in San Diego, CA in a 1 room office. 
    Recognizing the need for a research company that did only <a href="https://papermasters.herokuapp.com/custom-research-papers" target="_blank">custom written term papers</a> and reports, the small staff began hiring freelance writers to produce custom research. 
    By the year 2000, Paper Masters needed to branch out and was acquired by E World Publishing, Inc. and moved to beautiful Northeastern Pennsylvania. </p>

  <h3 class="is-size-4">Paper Masters - Growing to Meet Your Custom Writing Needs</h3>
  <p><strong>Today, Paper Masters has 2 satellite locations</strong> and a full staff to accommodate the over 12,000 custom research paper orders we receive a year. Under E World's     outstanding commitment to academic research,     Paper Masters experienced a boom in growth. </p>
  <p><strong>Paper Masters has many writers</strong> in virtually every field of study, a full staff and yet still holds    on to its original mission - providing quality, custom research with outstanding attention to customer service. </p>
  <p><a href="http://www.eworldpublishing.com" target="_blank"><strong>E World Publishing, Inc.</strong></a><strong> is dedicated</strong> to providing outstanding customer service 24 hours a day, 7 days a  week. With friendly staff members always available for your questions, you never have to worry if you've  made the right choice for your research needs.</p>

  <h2 class="is-size-4">Contact the E World Publishing and Paper Masters' Staff</h2>
  <p><b>E-mail us:</b><br>
  <a href="mailto:eworld@papermasters.com" target="_blank">Paper Masters</a></p>
  <p><b>Call Us 24 hours a day, 7 Days a Week</b></p>
  <p><b>Toll Free:</b> 1-877-801-0409</p>
  <p><b>Locally:</b> 1-570-955-1438 </p>
  <h4 class="is-size-4">Location</h4>
  <p><strong>E World is located in beautiful Northeastern Pennsylvania</strong>,  at the base of the Pocono Mountains. In keeping with the community feeling we cherish here, E World reaches out to all our clients and invites them to become part of our Paper Masters community. </p>
  <p class="is-size-5">Hunlock Creek, PA 18621</p>  
  {% endblock content %}
