{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Frequently Asked Questions on our Custom Research Paper Services</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Frequently Asked Questions - Paper Masters answers all your questions concerning our custom research paper services." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Frequently Asked Questions</h1>
  
  <ol>

    <li><a href="#writes">Who writes the term papers?</a></li>
    <li><a href="#when">When can I get my term paper?</a></li>
    <li><a href="#prof">Will my professor find out I ordered a term paper from you?</a></li>
    <li><a href="#plagiarized">Will the term paper be plagiarized and how do I know for sure it will not?</a></li>
    <li><a href="#turnitin">Do you submit your term papers to TurnItIn.com?</a></li>
    <li><a href="#pay">When do I pay for my term paper?</a></li>

    <li><a href="#expensive">Why are your term papers more expensive than other companies?</a></li>
  </ol>
  <hr /> 

  <h2>Answers to Questions</h2>

 <p>1. <a name="writes" id="writes"></a><a href="#writes">Who writes the papers?</a> We hire academic freelance writers with at least a bachelor's degree in their chosen field. Many of our writers have Master's Degrees any only those that have advanced degrees write our graduate and Master's level project. We do NOT hire active professors. </p>
  <hr />
  <p>2. <a name="when" id="when"></a><a href="#when">When Can I get my term paper?</a> You tell us when you need the paper. You tell us your due date and when you want the project from us and we arrange for a writer to do it in that time-frame. We don't guarantee miracles but we can do RUSH projects (anything due within 4 days) and regular rate projects (anything due after the next 3 days). Check out our <a href="/research-paper-services.html">term paper prices</a>.</p>

  <hr />
  <p>3. <a name="prof" id="prof"></a><a href="#prof">Will my professor find out I ordered a term paper from you?</a> No. Absolutely not. All our services are confidential. Each term paper or research paper we write is custom written just for you. While your professor will not find out you used our services, we do recommend that you take the project and integrate it into your own research and writing style. Remember, our writers are professionals and what you will receive is a very well written, polished essay that your professor may not expect from you if you are not already proficient in writing.</p>
  <hr />
  <p>4. <a name="plagiarized" id="plagiarized"></a><a href="#plagiarized">Will the paper be plagiarized and how will I know for sure it will not?</a> We guarantee all projects are custom written and free from plagiarism. We have been in business for nearly 10 years and have an excellent reputation. We also show you how to find plagiarism in a term paper. Go here to <a href="/finding-plagiarism.html">learn more...</a></p>

  <hr />
  <p>5. <a name="turnitin" id="turnitin"></a><a href="#turnitin">Will you submit my paper to TurnItIn.com?</a> No, we do not submit your project to TurnItIn.com. There are several reasons for this but the main one is that if we submit your project to TurnItIn.com then your professor will wonder why the paper can be found in their database! Why would you turn your own paper in to check for plagiarism?!? Also, our projects are custom written and our writers are honest, dependable and have signed a contract with us that binds them legally to only submit work created by them.</p>
  <hr />
  <p>6. <a name="pay" id="pay"></a><a href="#pay">When do I pay for my term paper?</a> We take payment up front. If you are a new customer, you are not charged anything until we call you to confirm that we have a writer and that all your information is correct. In fact, you don't even have to put your credit card information in the order form. Just send us the specifications for your order, we will schedule a writer for the project and call you for payment information. Its as easy as that!</p>
  <hr />

  <p>7. <a name="expensive" id="expensive"></a><a href="#expensive">Why are your term papers more expensive than other companies?</a> We custom write every single term paper order we receive. That means we hire a professional freelance writer with a degree in the subject area that you have specified to write your paper from scratch. Professional writers charge a premium for their services and therefore we have to charge at least the going rate for academic freelance writers. If a web site claims that you can buy a term paper for $10 to $15 per page, that is original and has never been sold before, you are being lied to! It cannot be done! No qualified writer would work for that poor of pay. </p>
  <h2>Plus with Paper Masters, you receive:</h2>
  <ul>
    <li>Outstanding customer service</li>
    <li>Quality, Plagiarism free papers - Guaranteed!</li>

    <li>Live, Toll Free, 24 hour telephone support</li>
    <li>Free Bibliography/Reference Page</li>
  </ul>

      <h3>Still have more questions for us?</h3>
        <ul>
          <li><p>• All interactions for 
            ordering is done via our secured server 
            (SSL).</p></li>
          <li><p>• All our corporate and client information 
            is kept private and secure.</p></li>
          <li><p>• All services are confidential.</p></li>
          <li><p>• Paper Masters/E World Publishing guarantees 
            that no information of our clients is 
            distributed for profit or data collection.</p></li>
          <li><p>• E World Publishing, Inc.'s Network is behind a secure firewall</p></li>
          <li><p>• Personal information is guaranteed secure</p></li>
          <li><p>• All payment information is secure</p></li>
        </ul> 

    {% endblock content %}