{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Your Privacy is Important to Paper Masters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Paper Masters guarantees privacy of your personal information and all our research paper services are confidential." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  
  {% block content %} 
  <h1>Privacy Policy</h1>
  
  <p><strong>Your privacy is important to us.</strong>
    E World Publishing, Inc./Paper Masters does not distribute or divulge any personal information on our clients. 
    This policy explains how your information is collected and the security measures in place to protect the privacy of your personal information.</p>

  <h2><strong>We DO NOT Collect Any Personal Information</strong></h2>
  
  <p><strong>No information is collected</strong>without the knowledge of the client. 
    Information is only collected through the order form and with the consent of the client.</p>

  <p><strong>Information placed on the order form is used only to fulfill the requirements of the order.</strong>
    E-mail addresses, telephone numbers and physical street addresses are kept private and confidential. 
    Credit card information is secure and utilized only for processing the financial requirements of the order.</p>
  
  <h2>Privacy Guarantees</h2>

  <p><strong>E World Publishing, Inc./Paper Masters recognizes the importance of privacy</strong> and your personal information. 
    All interactions for ordering is done via our secured server (SSL). 
    Your credit information is kept safe and secure through their guarantee.</p>

      <h3>The Security of Your Information is Important to Us!</h3>
        <ul>
          <li><p>• All interactions for ordering is done via our secured server (SSL).</p></li>
          <li><p>• All our corporate and client information 
            is kept private and secure.</p></li>
          <li><p>• All services are confidential.</p></li>
          <li><p>• Paper Masters/E World Publishing guarantees that no information of our clients is distributed for profit or data collection.</p></li>
          <li><p>• E World Publishing, Inc.'s Network is behind a secure firewall</p></li>
          <li><p>• Personal information is guaranteed secure</p></li>
          <li><p>• All payment information is secure</p></li>
        </ul> 

    {% endblock content %}