{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Return Policy - Paper Masters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Please read the return policy of use for all products sold and distributed by E World Publishing, Inc. and Paper Masters." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5 is-hidden-mobile" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  
  {% block content %} 
  <h2>Paper Masters R</h2>
  
  <p><strong>Paper Masters is a division of E World Publishing, Inc.</strong>
    E World Publishing, Inc. is not responsible for products used outside of the intended purpose of selling a copyrighted, model book report, essay, term paper or research paper. 
    All materials are for reference purposes only and not to be misrepresented outside of the limitations of the copyright. 
    All products of E World Publishing, Inc. are intended for research and guidance only and are not to be submitted for personal, educational or business credit without proper citation. 
    E World Publishing, Inc. retains the copyright on all material contracted for through freelance writing services and sold as such.</p>

  <p><strong>All sales are final.</strong>
    Refunds or replacements will not be granted do to the subjective nature of written intellectual property. 
    Purchasing products from E World Publishing, Inc. implies that the purchaser has read all statements of liability and accountability and acknowledges that E World Publishing, Inc. is free of any misuse of products or services sold by E World Publishing, Inc.</p>
  
  <p><strong>Payment Policy.</strong>
    Payment is due at time of placing your order, unless otherwise specified on the order form. 
    If selecting "I'll provide this information later", pricing is based upon the time-frame in which you provide payment information and your selected due date. 
    Ordering and delaying payment until your project is within a "RUSH" time-frame will change pricing to RUSH order pricing.</p>
  
  <p><strong>Revision Policy.</strong> Paper Masters will only consider requests for revisions if received within 4 days of the delivery of the final completed project. 
    All requests for revisions after 4 days of the client having received the completed project will be not be honored. 
    Revisions will be provided only if the contracted writer failed to follow instructions submitted on the order form and submitted within the description field; and/or project fails to meet agreed upon standards of collegiate writing.</p>
  
  <p><strong>Liability.</strong> In no event shall E World Publishing, Inc. 
    (DBA Paper Masters), nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and Paper Masters, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of the materials purchased on through this website. 
    Personal information or any form of title page, headings or running head can not be placed on the document by E World Publishing, Inc.</p>
  
  <p><strong>Refusal of Services.</strong> E World Publishing, Inc. reserves the right to refusal of services to any client or individual seeking use of services if said client is suspected to have, in the past, or has expressed future intent to have violated any portion of Terms of Use.</p>
  
  <p><strong>Communication.</strong> Communication with E World Publishing, Inc. is mainly electronic. Every time you send us an email or visit our website, you hereby consent to receive communications from E World Publishing, Inc. All notices, disclosures, agreements and other communications E World Publishing, Inc. provides to you electronically meet the legal requirements that such communications be in writing. </p>


    {% endblock content %}
