{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Return Policy - Paper Masters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Please read the return policy of use for all products sold and distributed by E World Publishing, Inc. and Paper Masters." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5 is-hidden-mobile" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  
  {% block content %} 
  <h2>Paper Masters Return Policy</h2>
  
  <p>All sales are final. Given the nature of intellectual property, refunds are not allowed with the following exceptions:

    <li>Product failed to be delivered</li>
    <li>Product was not as specified in instructiions</li>


Conflicts are resolved within 24 hours and all correspondence must be in writing.</p>

<div>
    <p>Ways to contact us:</p>
    <div><span itemprop="name">Paper Masters</span></div>
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">Main address: 
      <span itemprop="addressLocality">Hunlock Creek, PA</span>
      <span itemprop="postalCode">18621</span>
    </div>
    <div>Tel: <span itemprop="telephone"><a href="tel: 570-955-1438">1-570-955-1438</a></span></div>
    <div>Text for Quote: <span itemprop="text"><a href="sms: 1-570-301-7456">1-570-301-7456</a></span></div>
    <div>E-mail: <span itemprop="email"><a href="mailto: eworld@papermasters.com">eworld@papermasters.com</a></span></div> 
  </div>
    {% endblock content %}
