{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<h3>Thank You For Ordering With Paper Masters!</h3>
          <p>What do I do next?</p>
          <ol>
            <li>Check your e-mail for an automated confirmation of your order.</li>
            <li>If you are a new customer, you will receive a phone call from one of our representatives within the next 12 to 24 hours to confirm your order.</li>
            <li>Once we have a writer scheduled for your project and we have called you, we will send you another confirmation of the charge that has taken place.</li>
            <li>Your paper will arrive in your e-mail in the evening of the date that you ordered it for.</li>
          </ol>
          <p>What you need to know:</p>
          <ul>
            <li>If you do not receive confirmation of your order in e-mail or by telephone within 12 hours, please call us at 1-570-955-1438.</li>
            <li>Standard 
              procedure for new customers is that a Paper Masters representative will contact you shortly via the telephone to verify your order. </li>
            <li>Our valued, repeat 
              customers will simply receive a confirmation of their order in e-mail.</li>
            <li>All charges go on your credit card statement as &quot;E World Publishing, Inc.&quot;. E World Publishing, Inc. is the parent company of Paper Masters.</li>
            <li>If for any reason you do not receive your project by 11:59pm on the date you ordered it for, call us immediately at 1-570-955-1438.</li>
          </ul>
          <p class="fake_heading"><a href="/order.html">Place Another Order</a></p>
          <h4>Questions or Concerns?</h4>
          <p><a href="mailto:eworld@papermasters.com">E-Mail Paper Masters</a></p>
          <p>Call us 24 hours a day: 1-570-955-1438</p>
          <p>&nbsp;</p>
      <!-- InstanceEndEditable -->
        </div> <div class="contentbox"><!-- InstanceBeginEditable name="leftContent" -->
          <h2>Your Project Format</h2>
          <p class="decorative"><strong>Please note that all projects are done in the following format:</strong></p>
          <ul>
            <li>Written in 12 pt. <span class="style7">Courier New Font</span></li>
            <li>Contain 1&quot; margins on all sides</li>
            <li>Written in Microsoft Word and delivered as a .docx file through e-mail</li>
            <li>Contain a bibliography/reference page free of charge</li>
            <li>Are written in MLA format unless otherwise specified          </li>
          </ul>
        <!-- InstanceEndEditable --> 
          </div>
        <div class="contentbox"> <!-- InstanceBeginEditable name="rightContent" -->
          <h4>Research Paper Specifications</h4>
          <ol>
            <li class="decorative">Delivered by 11:59PM Pacific Standard Time on that date that you specify in the order form</li>
            <li class="decorative">Delivered through e-mail as a Microsoft Word.docx</li>
            <li class="decorative">Arrive in your e-mail with the subject heading &quot;Completed Paper&quot;</li>
            <li class="decorative">If for any reason you do not receive your project by 11:59pm on the date you ordered it for, call us immediately at 1-570-955-1438</li>
          </ol>
          <p>&nbsp;</p>
          <!-- InstanceEndEditable --> 
        </div>
      </div> 
    </div>
    {% endblock content %}