{% extends "papermasters/base.html" %}
{% load static %} 

{% block meta %}
<title>Freelance writers needed for Academic Research Papers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="If you decide that E World looks like a good match for you, you will be e-mailed a link to a more comprehensive site contains specific guidelines for freelance work with us." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small mt-5 is-hidden-mobile" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/contact-us-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  
  {% block content %} 
  <h1>Academic Freelance Writer Position Available</h1>

  <p>If you decide that E World looks like a good match for you, you will be e-mailed a link to a more comprehensive site contains specific guidelines for freelance work with us. 
    E World provides our freelance writers an opportunity to work from home, have unlimited income potential and maintain a secure source of income on a weekly basis. 
    An internet based business for over 10 years, ghost writing, web content, business plans, research reports and virtually any type of custom research is available through our many talented writers we have in a diverse amount different fields.</p>
  <h2>What We Do at E World Publishing</h2>
  <ul>
    <li>• E World Publishing, Inc. is the parent company of Paper Masters. The position of freelance writer entails writing custom term papers, research papers, essays and book reviews for college students.</li>
    <li>• Our clients/students use our term papers as a guide for their own work and each project we produce is designed to be an excellent example of exactly how their own term paper should look.</li>
    <li>• Our clients give us the exact specifications for their project, the date they would like the project from us and the format that the project is to be written in. </li>
    <li>• We then assign a freelance writer to complete the project according to their specifications.</li>
  </ul>
  <h3>Specifications for Academic Freelance Writing</h3>
  <p>E World Publishing, Inc. owns and operates the custom term paper writing company <a href="{% url 'papermasters:home' %}" target="_blank">Paper Masters</a>.</p>
  <p><strong>As the most trusted academic writing company</strong> on the Internet, Paper Masters has freelance writing opportunities year round. 
    We are always looking for qualified writers that meet the following criteria:</p><ul>
    <ul>
    <li>• Bachelor's Degree</li>
    <li>• Writing skills akin to those of an Upper Level University Student</li>
    <li>• Thoroughly familiar with researching academic material</li>
    <li>• Familiarity with MLA, APA and Turabian</li>
    <li>• Ability to submit projects in Microsoft Word format</li>
    <li>• Access to a Major University Library or Journal Database (EBSCOHost, ProQuest, etc…)</li>
    <li>• 24 hour valid e-mail address and available via the telephone</li>
    <li>• Proficient in Microsoft Word</li>
  </ul>
  <p>All areas of study are needed! A Master&rsquo;s degree is required for  accepting higher paying, graduate level <a href="/research-paper-services.html">research writing</a> projects.  To  qualify, you must be able to meet the writing expectations of upper  level college work and illustrate theoretical and advanced knowledge of  your field of study in all works produced.</p>
  <p><strong>Rate of Pay</strong></p>
  <ul>
    <li>A steady, lucrative income is waiting in projects that pay from $8 to $15 per page (approximately 230 words per page).</li>
  </ul>
  <p>Some of our more ambitious writers earn between $45,000 and $70,000 a year.</p>
  <p><strong>Job Responsibilities</strong></p>
  <ul>
    <li>• Writing college and post-graduate level research papers, term papers and essays for college students to use a model for their own writing.</li>
    <li>• All writers are freelance contractors and responsible for submitting projects on time and according to the guidelines distributed with each  order.</li>
  </ul>
  <p><strong>E World Publishing, Inc. produces quality academic projects</strong> to be utilized as a guide for students in writing their own work. We have work available for in every field of study, ranging from English Literature,  Business and MBA projects, psychology, sociology and more. Projects are  sent to your e-mail throughout the day and you respond if you would  like to accept the assignment. With 10 years experience and an excellent  reputation, we need top level, motivated writers who want to work and  earn an income that is limited only by the writer&rsquo;s speed and  proficiency in researching and writing.</p>
  <p><strong>Serious inquiries only,</strong> as we are looking for writers that are willing to produce at least 10 pages a week or more. Please keep in mind that plagiarism and the theft of intellectual property is not tolerated  and all work is scanned with anti-plagiarism software.</p>
  <h3>Work From Home as a Freelance Writer!</h3>
  <p><strong>How To Apply:</strong></p>
  <ol>
    <li>Send your resume pasted into the body of an <a href="mailto:eworld@papermasters.com">e-mail</a>.</li>
    <li>Wait for a call from us or call us to verify we received your resume.</li>
    <li>You'll receive an phone call from our office manager that introduces you to the position and explains the process of accepting jobs.</li>
    <li>An anti-plagiarism contract will be sent to you to sign and fax to us.</li>
    <li>Once we receive the contract you can begin working!</li>
  </ol>
  <p><strong>You could start working within an hour of sending your resume!</strong></p>
  <br>
  <p><strong>Great opportunity for:</strong></p>
  <ul>
    <li>• Stay at home mothers or fathers</li>
    <li>• Extra cash on the side of day job</li>
    <li>• Steady, dependable income</li>
    <li>• The ability to make as much or as little as you like. The work is there if you want it!</li>
  </ul>
  <p><strong>Benefits of Working for E World Publishing, Inc.</strong></p>
  <ul>
    <li>• Work From Home</li>
    <li>• Unlimited Earning Potential</li>
    <li>• Set Your Own Hours</li>
    <li>• Be Your Own Boss</li>
    <li>• Work For A Company That Recognizes You As Its Most Valuable Asset</li>
  </ul>
  <br>
  <div class="boxbox">
  <h5><strong>What it takes to be a modern researcher of academic writing</strong></h5>
  <br>
  <p>&ldquo;They illustrate the general truth that reading, writing and thinking are the three activities of research&rdquo; (Barzun, 18). 
    This statement stands out among others because it brings up a quintessential part of research that is most often overlooked, thinking. 
    Reading and writing are understandably parts of research. 
    Anyone who has done a research paper realizes this.  
    However, what many people fail to do is analyze their research and think about what they have written. 
    When this done, true research is being conducted; rather than a simple reiteration of what has already been studied. 
    Although thinking may prove to be the most difficult aspect of research, in the end it is what makes the difference between &ldquo;research&rdquo; and a general literature review.</p>

  <p>&ldquo;Bias is an uncontrolled form of interest&rdquo; (186). 
    This statement holds true in almost every form of writing. 
    Although individuals would like to believe that writing and research can be produced in a vacuum, the reality is that no matter what type of research and work is produced, the researcher will add some form of bias to the research, regardless of attempts to avoid this pitfall. 
    In many respects, bias is like writing style: it is unique to the individual researcher and cannot be avoided in most situations.</p>

  <p>&ldquo;Clarity is there when others can follow coherence is when thoughts hang together; logic is when their sequence is valid&rdquo; (251). 
    These three ideas comprise the quintessential elements of research and writing.  
    This statement not only well illustrates the concepts, but it also demonstrates to the reader how carefully constructed sentences lead to coherent paragraphs and thus a logical paper and/or research project. 
    In the end, the process of logic dictates the overall form, while the simplicity of sentence structure provides the foundation for a cohesive idea.</p>
  
    <p>&ldquo;The researcher must again and again imagine the kind of source he would like to have before he can find it&rdquo; (47). 
        While Barzun and Graff assert that this is a viable method for seeking out materials for a research projects, it seems that this techniques would lead to more problems than solutions. 
        Research provides answers to a question. Sometimes the answer to a question is not what a researcher expects to find. 
        For instance, a researcher may believe that A leads to B when in actuality A lead to C. 
        This does not mean that the answer is in any way devalued, it simply means that it is different from what was expected. 
        If a researcher approaches a subject believing that the information they need can definitely be found, two problems can occur. 
        First the researcher may become frustrated because he or she cannot find what is desired. 
        Second, if the researcher truly believes that a source exists, when in reality it does not, the researcher may find him or herself shaping what is available to meet his or her needs and thus changing the meaning of the initial research question or problem.</p>
  <p><strong>Work Cited</strong></p>
  <p>Barzun, Jacques and Henry F. Graff. The Modern Researcher (5th Ed.)  Fort Worth, TX: Harcourt Brace Jovanovich College Publishers, 1992.</p>
</div>
<br>
  <h6><strong>Learn More about Paper Masters/E World Publishing, Inc.</strong></h6>
  <br>
  <p>E World Publishing, Inc. provides custom written research and writing  services for busy professionals. An internet business for over 12  years, E World has gained a solid reputation as one of the premier  research and writing companies in e-commerce. Ghost writing, web  content, business plans, research reports and virtually any type of  custom research is available through the over 70 writers we have in many  different fields.</p>
  <p>E World Publishing, Inc. started in 1998 as a small, family  operation. Access to qualified, professional freelance writers and a  large network of publishing professionals has spurred E World&rsquo;s growth  from a family business to being recognized as the top custom academic  research writing company in the world.</p>
  <p>&nbsp;</p> 


   
    {% endblock content %}