{% extends "papermasters/base.html" %}
{% load static %}

{% block back-style %}
<section class="section is-small" style="background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/resource-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

{% block content %} 
<!--<div><h1>{{ resourcing.title }}</h1></div> -->
<div class="p-2">{{ resourcing.content|safe }}</div>
<div class="columns">
  <div class="column optimShadBox conStyle has-text-grey-dark has-background-white-ter p-6">
    <h3 class="mb-5 is-size-4 is-size-5-mobile has-text-weight-bold has-text-centered">Related Research Paper Topic Suggestions</h3>
     
          
{% for resources in resources %}  
<p class="pt-2">
<a href="{{ resources.get_absolute_url }}">{{ resources.title }}
</a> - {{ resources.meta_description }}</p> 
<div>{% for tag in resources.resource_tags.all %}
  <span class="tag">• {{ tag }}</span>
  {% empty %}
No related research paper suggestions.
  {% endfor %} 
</div> 
{% endfor %}  <br>
</div>  
      </div> 
    {% endblock content %} 