{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>Art Research Paper Topic Suggestion</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Art research paper topic suggestions come in the form of art history, architecture, artists, film, music, theater and plays, and works of art topics." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/art-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Art Research Papers</h1>
  <p>Paper Masters gives students help with art research papers whenever we can. One of the many ways we offer writing assistance is to offer research paper topic suggestions on virtually any and all areas of academic study. <strong>Art research paper topic suggestions come in the form of art history, architecture, artists, film, music, theater and plays, and works of art topics.</strong> Use any art research paper topic seen here or order your own, unique custom written project on any topic you wish.</p>
  
  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on Art</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in art_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}