{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>Literature Research Papers Custom Written</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Literature Research Papers are custom written on topics such as American Literature, Authors, Biographies and Memoirs, Children's Lit, Drama, Fairy Tales, Historical Fiction, Mystery and Horror, Poetry and Poets, Science Fiction, Themes in Literature and World Literature." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/literature-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Literature Research Papers</h1>
  <p>Literature is a topic that every college and university student must tackle at some point in the academic career of a student. 
    <strong>Paper Masters helps students with literature research papers by offering thousands of suggestions on topics in American Literature, Authors, Biographies and Memoirs, Children's Lit, Drama, Fairy Tales, Historical Fiction, Mystery and Horror, Poetry and Poets, Science Fiction, Themes in Literature and World Literature.</strong> 
    Choose from any one of the various topics provided to help narrow down a topic for your research paper. </p>
  
  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on Literature</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in lit_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}