{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>Political Science Topics for Research Papers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Political science topics range from Presidential Politics to International Politics. Paper Masters will write your custom research paper on any political science subject." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/political-science-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Political Science</h1>
  <p>Political Science research paper topics revolved around government, politics and the public offices that make our nation and others function. 
    Political science topics range from Presidential Politics to International Politics. 
    Famous political figures are also studied in order to learn from  their political perspective. 
    Public administration and the constitution are import aspects of politics as well as how a nation handles terrorism. 
    Need help with your political science topic? Paper Masters will write your custom research paper on any political science subject.</p>

  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on Political Science</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in pol_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}