{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>Religion Research Papers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Religion research papers are custom written on Biblical topics, the Books of the Bible, Christianity, Creationism, Eastern Religions, Judaism, Major Religious Figures and World Religions." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/religion-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Religion Research Papers</h1>
  <p>Religion research paper topics are listed to help students choose a unique and interesting research topic. 
    Subjects range from The Holy Bible, The Koran and the Kama Sutra to Creationism, Major Religious Figures and the Books of the Bible. 
    No topic is too detailed, as Paper Masters customs writes ever religion research paper.</p>

  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on Religion</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in rel_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}