{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>Science Research Papers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Science research papers and scientific topics are custom written from Paper Masters on astronomy, biology, environmental science, ethics, evolution, human anatomy, physics and famous scientists." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/science-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>Science Research Papers Custom Written</h1>
  <p><strong>Paper Masters shows you how</strong> to write a science research paper on any science subject using the topics you see on this web site. 
    Our science topic suggestions can be used to create unique ideas for your own research papers. 
    These are sample topics only! <strong>We do not sell pre-written research papers but you can use these sample topics to order your own custom science research paper. </strong></p>

  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on U.S. History</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in sci_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}