{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>United States History Research Papers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="United States History research papers cover many aspects of American history, such as Colonialism, Native American History, the Civil War, the Revolutionary War, Immigration, Industrialism, Slavery, the Vietnam War, Women's History and 20th Century modern history." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/us-history-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>United States History Research Papers</h1>
  <p>United States History research covers many aspects of American heritage, such as Colonialism, Native American History, the Civil War, the Revolutionary War, Immigration, Industrialism, Slavery, the Vietnam War, Women's History and 20th Century modern history. 
    Paper Masters helps students weed through the many historical topics and outline some of the best research paper subjects we could think of. 
    <strong>Custom written and sold only to you! That is the Paper Masters advantage in United States History research writing.</strong></p>

  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on United States History</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in ush_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}