{% extends "papermasters/base.html" %}
{% load static %}  

{% block meta %}
<title>World History Research Paper Topics</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="World History research paper topics ranging from World Wars to an individual Country's history, Paper Masters helps write great college research papers in world history." />
{% endblock meta %}  

{% block back-style %}
<section class="section is-small" style= "background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('/static/images/world-history-header.webp'); background-repeat: no-repeat; background-size: cover;">
  {% endblock back-style %}  

  {% block content %} 
  <h1>World History Research Papers</h1>
  <p>World History Research Papers involve an incredible amount of information. 
    Sometimes students can be overwhelmed with so much information that they cannot whittle it down to a concise topic for a research paper. 
    Paper Masters offers many world history topics to choose from in order to help students get started with a research paper. 
    <strong>Topics ranging from Major Historical Eras, to World Wars to an individual Country's history, Paper Masters helps write great college research papers in world history.</strong></p>

  <h3 class="mb-5 is-size-4 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Topic Suggestions on World History</h3>
  <div class="optimShadBox conStyle has-text-grey-dark has-background-white-ter">
    <div>{% for x in wor_list %}  
      <p><strong><a href= "{{ x.slug }}">{{ x.name }}</a></strong> - {{ x.meta_description }}</p>
      {% endfor %}
      </div> 
      </div>
  {% endblock content %}