{% load static %}  
<!DOCTYPE html>
<html lang="en">
  <head>{% block meta %} 
    <meta charset="utf-8">
    <title>{{ instance.meta_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ instance.meta_description }}">{% endblock meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
    {% block meta-add %}{% endblock meta-add %}  
    <script src="https://kit.fontawesome.com/9b8522e735.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'favicon.icon' %}">
    <script src="{% static 'js/main.js' %}"></script>{% block js-add %}{% endblock js-add %}  
    <meta name="google-site-verification" content="68SFwjLkdmv-QYy5XT-zDZkncLLKRRkMqoyCSnaRa50" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2EJ5KY35YM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2EJ5KY35YM');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MSDZ546');</script>
  <!-- End Google Tag Manager -->
  </head>
  <body class="has-navbar-fixed-top">

<header> 
  <nav class="navbar px-3 py-4 is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'papermasters:home' %}">
        <img class="image" src= "{% static 'images/logo-papermasters-navbar.svg' %}" alt="PaperMasters Logo" width="180px" height="200px">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target=“pmNav”>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span> 
      </a> 
  </div>
    <div id="pmNav" class="navbar-menu" style="font-size: .95em;">
        <div class="navbar-end"> 
        <a class="navbar-item" href="{% url 'papermasters:home' %}">
          Home</a>
        <a class="navbar-item" href="{% url 'toplevel:about_us' %}">
          About</a>
        <a class="navbar-item" href="{% url 'toplevel:contact' %}">
          Contact</a>
          <a class="navbar-item" href="{% url 'toplevel:prices' %}">
            Prices</a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Writing
            </a> 
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="{% url 'toplevel:service_page' %}">
                Services</a>
              <a class="navbar-item" href="{% url 'toplevel:resources_page' %}">
                Writing Resources</a>
              <a class="navbar-item" href="{% url 'toplevel:subjects_page' %}">
                Subjects - Topic Suggestions</a>  
            </div>
          </div>  
          <div class="navbar-item">
          <a class="button is-small has-text-light" href="{% url 'topic_pages:search_view' %}"> 
              <i class="fa-regular fa-magnifying-glass fa-1x"></i>  
          </a>
        </div> 
        <div class="navbar-item"> 
          <a class="button is-danger has-text-weight-bold mr-1 is-outlined has-text-warning" href="{% url 'toplevel:order' %}"> 
            Order</a>
        </div> 
      </div>
    </div> 
    </nav> 

      
    {% block header %}
    {% block back-style %}<!---<section class= "section is-medium" ---->{% endblock back-style %} 
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-5-desktop is-7-tablet my-2">
        <div class="glassDark px-4 py-3"> 
          <h4 class="mt-3 mb-3 p-4 is-size-4 has-text-dark has-text-weight-bold has-text-centered">Need Help Writing a Paper?</h4>
          <p class="has-text-black-bis mb-5 has-text-centered">Have Paper Masters custom write your project today!</p>
          <div class="has-text-grey-lighter mb-1 ml-6 mb-4">
            <li>24/7 Customer Support</li>
            <li>Free Plagiarism Check</li>
            <li>Writing at Your Level</li>
            <li>Writers All Have Advanced Degrees</li>
            <li>Will Follow Specific Instructions</li>  
          </div>
          <p class="has-text-black-bis mb-5 has-text-centered">Have Paper Masters custom write your project today!</p>
          <div class="buttons is-centered mb-4 p-3"><a class="button is-warning is-focused is-medium has-text-black" href="{% url 'toplevel:order' %}">Yes! Write My Paper!</a></div>
        </div>
      </div>
    </div>
  </div> 
  </section> 
</header>  
 
{% block crumbs %}
<nav class="breadcrumb breadbar px-5 py-4 mt-5 is-hidden-mobile" style ="text-transform: capitalize;" aria-label="breadcrumbs">
<div class="is-flex is-justify-content-space-between">
  {% if breadcrumbs %}  
      {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs %} 
  {% endif %} 
  <div class="field has-addons is-justify-content-flex-end">
    <div class="control">
      <form class="d-flex" method="POST" action="{% url 'topic_pages:search_view' %}">
        {% csrf_token %}
      <input class="input is-small" type="search" placeholder="Search Topics" aria-label="Search" name="searched">
    </div>
    <div class="control">
      <button class="button is-small has-text-dark" type="submit"> 
        <i class="fa-regular fa-magnifying-glass fa-1x has-text-light"></i>  
      </button> 
    </form>
  </div>
  </div>  
  </div> 
</nav> {% endblock crumbs %} 

{% endblock header %} 

{% block forhome %}
<section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8">
          <div class="box has-background-white-bis p-6">
            <div class="conStyle has-text-grey-dark mb-5">
            {% block content %}
            {% endblock content %} 
          </div>
        </div>
    </div> 

            {% block sidecolumn %}
            <div class="column is-one-third"> 
                <div class="doubleBorder p-3">
                  <h2 class="is-size-2-desktop is-size-3-mobile is-size-4-tablet has-text-weight-bold has-text-grey has-text-centered">Paper Masters</h2>
                  <div class="has-text-light p-4 mb-5">
                    <span style="text-indent: 15px; list-style-position: inside;">
                    <li>Custom Written Papers</li>
                    <li>100% Plagiarism Free</li>
                    <li>24/7 Customer Service</li>
                    <li>Guaranteed Confidentiality</li>
                    <li>Text us for a Quote Today!</li>
                  </span>
                    <ul style="text-indent: 40px;"><li>1-570-301-7456</li> </ul>
                  
        
                    <h3 class="is-size-5 has-text-weight-bold has-text-warning has-text-centered p-4">Choosing a Research Paper Topic</h3>
                    <p>Can't decide on a topic? Need ideas or inspiration for research in your field of study? 
                      Paper Masters provides topic suggestions to make your decision easier.</p>

                      <div class="is-hidden-tablet"><h3 class="is-size-5 has-text-weight-bold has-text-warning has-text-centered p-4">Paper Masters Site Search</h3>
                        <div class="field has-addons">
                         <div class="control is-expanded">
                           <form class="d-flex" method="POST" action="{% url 'topic_pages:search_view' %}">
                             {% csrf_token %}
                           <input class="input is-primary" type="search" placeholder="Search Topics" aria-label="Search" name="searched">
                         </div>
                         <div class="control">
                           <button class="button is-primary has-text-dark" type="submit">
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                             </svg>
                           </button> 
                         </form>
                       </div>  
                       </div>   
                     </div>

                      <aside class="menu subasidelink">
                        <span class="pb-2"> 
                          <h3 class="is-size-5 has-text-weight-bold has-text-danger mb-1 mt-3">
                            Start with a Subject:</h3></span>
                          <ul class="menu-list"> 
                              <li> 
                                  <ul> 
                                    <li><a href="{{ topic_pages.get_absolute_url }}/anthropology">
                                      <i class="fa-thin fa-map has-text-link"></i>
                                      Anthropology</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/art">
                                      <i class="fa-regular fa-palette mr-1 has-text-link"></i>
                                      Art</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/business">
                                      <i class="fa-regular fa-chart-user mr-1 has-text-link"></i>
                                      Business</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/criminal-justice">
                                      <i class="fa-regular fa-scale-balanced mr-1 has-text-link"></i>
                                      Criminal Justice</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/economics">
                                      <i class="fa-regular fa-chart-column mr-1 has-text-link"></i> 
                                      <!-- <i class="fa-duotone fa-piggy-bank mr-1 has-text-link"></i> -->
                                      <!-- <i class="fa-duotone fa-circle-dollar-to-slot mr-1 has-text-link"></i> -->
                                      Economics</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/education">
                                      <i class="fa-regular fa-building-columns mr-1 has-text-link"></i> 
                                      Education</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/geography">
                                      <i class="fa-regular fa-globe-stand mr-1 has-text-link"></i> 
                                      Geography</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/literature">
                                      <i class="fa-sharp fa-solid fa-books mr-1 has-text-link"></i>
                                      Literature</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/medical-health"> 
                                      <i class="fa-regular fa-hospital mr-1 has-text-link"></i>
                                      Medical Health</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/military">
                                      <i class="fa-regular fa-jet-fighter mr-1 has-text-link"></i>
                                      Military</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/nursing">
                                      <i class="fa-regular fa-user-nurse-hair-long mr-1 has-text-link"></i>
                                      Nursing</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/philosophy">
                                      <i class="fa-regular fa-face-thinking mr-1 has-text-link"></i> 
                                      Philosophy</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/political-science">
                                      <i class="fa-regular fa-landmark-dome mr-1 has-text-link"></i>
                                      Political Science</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/psychology">
                                      <i class="fa-regular fa-head-side-brain mr-1 has-text-link"></i>
                                      Psychology</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/religion">
                                      <i class="fa-regular fa-church mr-1 has-text-link"></i>
                                      Religion</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/science">
                                      <i class="fa-regular fa-microscope mr-1 has-text-link"></i>
                                      Science</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/sociology">
                                      <i class="fa-regular fa-people-simple mr-1 has-text-link"></i>
                                      Sociology</a></li>
                                      <li><a href="{{ topic_pages.get_absolute_url }}/technoloy">
                                      <i class="fa-regular fa-laptop-mobile mr-1 has-text-link"></i>
                                      Technology</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/us-history">
                                      <i class="fa-regular fa-flag-usa mr-1 has-text-link"></i>
                                      US History</a></li>
                                    <li><a href="{{ topic_pages.get_absolute_url }}/world-history">
                                      <i class="fa-regular fa-earth-americas mr-1 has-text-link"></i>
                                      World History</a></li>
                                  </ul>
                              </li> 
                          </ul>  
                      </aside>
                      <p><ul>
                      </ul></p>
                  </div>
                </div>
              </div>
              {% endblock sidecolumn %}
            </div>
          </div> 
        </section>
         
        {% block lowercontent %}
        {% endblock lowercontent %} 

{% endblock forhome %}



{% block footer %} 
<footer class="section is-small">
  <div class="container">
    <div class="columns is-multiline" style="border-bottom: 1px solid #dee2e6;">
      <div class="column is-4 mb-5 has-text-light has-text-centered"> 
        <a class="mx-auto mb-4 is-inline-block" href="{% url 'toplevel:order' %}">
          <img class="image" src="{% static 'images/logo-papermasters.svg' %}" alt="Paper Masters Logo" width="200px" height="250px">
        </a> 
        <div>
          <div><span itemprop="name">Paper Masters</span></div>
          <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">Main address: 
            <span itemprop="addressLocality">Hunlock Creek, PA</span>
            <span itemprop="postalCode">18621</span>
          </div>
          <div>Tel: <span itemprop="telephone"><a href="tel: 570-955-1438">1-570-955-1438</a></span></div>
          <div>Text for Quote: <span itemprop="text"><a href="sms: 1-570-301-7456">1-570-301-7456</a></span></div>
          <div>E-mail: <span itemprop="email"><a href="mailto: eworld@papermasters.com">eworld@papermasters.com</a></span></div> 
        </div>
        <div>
          <a class="mr-4 is-inline-block" href="https://www.facebook.com/Paper-Masters-89831184422">
            <img src="{% static 'images/facebook.svg' %}" width="24" height="24">
          </a>
          <a class="mr-4 is-inline-block" href="https://mobile.twitter.com/papermasters">
            <img src="{% static 'images/twitter.svg' %}" width="24" height="24">
          </a> 
          <a class="mr-4 is-inline-block" href="https://www.instagram.com/papermasters_eworld/">
            <img src="{% static 'images/instagram.svg' %}" width="24" height="24">
          </a>
          <a class="is-inline-block" href="https://www.linkedin.com/company/paper-masters?original_referer=https%3A%2F%2Fwww.google.com%2F">
            <img src="{% static 'images/linkedin.svg' %}" width="24" height="24">
          </a>
        </div>
      </div>
      <div class="column is-8">
        <div class="columns is-multiline">
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Company</h4>
            <ul>
              <li class="footlink"><a href="{% url 'toplevel:about_us' %}">About Us</a></li>
              <li class="footlink"><a href="{% url 'toplevel:faq' %}">FaQ</a></li>
              <li class="footlink"><a href="{% url 'toplevel:contact' %}">Contact</a></li>
              <li class="footlink"><a href="{% url 'toplevel:writing_opp' %}">Writing Opportunity</a></li>
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Resources</h4>
            <ul>
              <li class="footlink"><a href="{% url 'toplevel:service_page' %}">Services</a></li>
              <li class="footlink"><a href="#">Project Format</a></li>
              <li class="footlink"><a href="#">Citation</a></li>
              <li class="footlink"><a href="#">Types of Papers</a></li>
              <li class="footlink"><a href="#">Types of Research</a></li>
              <li class="footlink"><a href="#">Scholarly Sources</a></li>
              <li class="footlink"><a href="#">Elements of a Paper</a></li>
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Legal</h4>
            <ul>
              <li class="footlink"><a href="{% url 'toplevel:terms_use' %}">Terms</a></li>
              <li class="footlink"><a href="{% url 'toplevel:return_policy' %}">Return Policy</a></li>
              <li class="footlink"><a href="{% url 'toplevel:guarantees' %}">Garauntees</a></li>
              <li class="footlink"><a href="{% url 'toplevel:privacy_policy' %}">Privacy</a></li>
              <li class="footlink"><a href="https://papermasters.com/sitemap.xml">Sitemap</a></li> 
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-light">Payment Options</h4>
                  <ul>
                    <li><i class="fa-brands fa-cc-visa ml-2 mr-2 fa-2x"></i>
                      <i class="fa-brands fa-cc-mastercard mr-2 fa-2x"></i>
                      <i class="fa-brands fa-cc-amex mr-2 fa-2x"></i>
                      <i class="fa-brands fa-cc-discover mr-2 fa-2x"></i></li> 
                  </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5 has-text-centered has-text-grey">
      <p>Paper Masters is a custom research paper writing service. Operating for over 20 years, Paper Masters has established itself as the premier custom research paper company on the Internet. Paper Masters is a division of E World Publishing.</p>
    </div>
    <div class="pt-5 has-text-centered">
      <p>Paper Masters - E World Publishing © 2022</p>
    </div>
  </div>
</footer> 
{% endblock footer %}
        
        </body>
        </html> 
        {% block scripts %}{% endblock scripts %}