{% extends "papermasters/base.html" %}
{% load static %} 
    {% block meta %}
    <title>Custom Written Research Papers by Paper Masters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paper Masters provides custom research papers for college students to use as a guide in writing projects on any academic topic.">
    {% endblock meta %}     

    {% block header %}
      <section class="section papermasters-cover is-medium is-fullheight-with-navbar"> 
        <div class="container">
          <div class="mb-5 is-vcentered columns is-multiline is-justify-content-space-evenly">
            <div class="column is-12 is-5-desktop">
              <div class="doubleBorder mb-4 p-6 has-text-centered">
                <h1 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-success">Custom Written Research Papers</h1>
                <p class="is-size-6 has-text-light mb-5">Paper Masters - The Premium Custom Research Paper Company. Have our writers write your project - perfect every time!</p>
                <div class="buttons is-centered mb-1 p-4"><a class="button is-warning has-text-black" href="{% url 'toplevel:order' %}">Yes! Write My Paper!</a></div>
              </div>
            </div>
            <div class="column is-12 is-6-desktop is-hidden-touch">
              <img class="image is-fullwidth p-4" src="{% static 'images/three-smiling-students.webp' %}" alt="Three Smiling Students" width="1200px" height="800px">
            </div>
          </div>
        </div>
      </section>
      {% endblock header %}  


      {% block forhome %}
      <section class="section blended-background is-small">
        <div class="container is-relative is-fullhd">
          <div class="columns is-multiline is-centered">
            <div class="column is-8 mb-6 has-text-centered">
              <h2 class="has-text-light mb-4 is-size-1-desktop is-size-4-mobile is-size-2-tablet has-text-weight-bold">Writing Levels We Offer</h2>
              <p class="subtitle has-text-primary mb-4">We custom write research papers for college students</p>
            </div>
          </div>
          
        </div>
          <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered has-text-weight-bold">
                <div class="tile is-parent glassUG mr-2 mb-2">
                    <article class="tile is-child has-text-centered pt-4">  
                      <!-- style="background-color: #b0c4de;" -->
                          <a href="https://papermasters.com/services/undergraduate-research-papers"><i class="fa-duotone fa-books fa-3x pb-2"></i> 
                        <h4 class="is-size-5 is-size-4-mobile has-text-weight-bold has-text-warning level-link">Undergraduate</h4></a>
                        <p class="is-size-7 is-size-6-mobile has-text-light mt-3" style="text-shadow: 1px 1px 2px #000039;">First year college until you graduate with your first degree - Paper Masters custom writes undergraduate projects.</p>
                    </article>
                </div>
                <div class="tile is-parent glassG mr-2 mb-2">
                  <article class="tile is-child has-text-centered pt-4"> 
                    <!-- style="background-color: #8fbc8f;" -->
                    <a href="https://papermasters.com/resources/graduate-research"><i class="fa-duotone fa-user-graduate fa-3x pb-2"></i>
                    <h4 class="is-size-5 is-size-4-mobile has-text-weight-bold has-text-warning level-link">Graduate</h4></a>
                    <p class="is-size-7 is-size-6-mobile has-text-light mt-3" style="text-shadow: 1px 1px 2px #232b2b;">Graduate level projects include any writing you need done while in Grad School. Capstone projects, theses, and much more…</p>
                  </article>
              </div>
                <div class="tile is-parent glassPGM mr-2 mb-2">
                  <article class="tile is-child has-text-centered pt-4"> 
                    <!-- style="background-color: #f8b878;" -->
                    <a href="https://papermasters.com/resources/masters-thesis"><i class="fa-duotone fa-graduation-cap fa-3x pb-2"></i>
                    <h4 class="is-size-5 is-size-4-mobile has-text-weight-bold has-text-warning level-link">Post Grad/Masters</h4></a>
                    <p class="is-size-7 is-size-6-mobile has-text-light mt-3" style="text-shadow: 1px 1px 2px #43302e;">Post-Graduate work typically requires a Master's Thesis. Our Doctoral level writers will get you through your Master's program with ease!</p>    
                    </article>
                  </div> 
                  <div class="tile is-parent glassD mb-2">
                    <article class="tile is-child has-text-centered pt-4">  
                      <!-- style="background-color: #ab4e52;" -->
                      <a href="https://papermasters.com/resources/doctoral-research"><i class="fa-duotone fa-diploma fa-3x pb-2"></i>
                      <h4 class="is-size-5 is-size-4-mobile has-text-weight-bold has-text-warning level-link">Doctorate</h4></a> 
                      <p class="is-size-7 is-size-6-mobile has-text-light mt-3" style="text-shadow: 1px 1px 2px #480607;">Paper Masters has helped thousands of clients through their doctoral programs and understand what it takes to successfully submit research at the doctorate level.</p>    
                      </article>
                    </div>
            </div>
          </section> 
      </section>

      <section class="section is-small diagonal-split-background" style="text-shadow: 1px 1px 2px #000039;">
        <div class="container is-widescreen m-auto p-2 mt-6">
          <div class="columns is-multiline is-vcentered p-2 mt-4">
            <div class="column is-6-tablet is-6-desktop is-size-6-mobile">
              <div class="doubleBorder p-6 m-auto shadow"> 
                <h2 class="is-size-3 has-text-weight-bold has-text-centered has-text-success">Are you Stressed? Time Running Out?</h2> 
                <p class="is-size-6 has-text-light mt-4">Paper Masters will write your project for you and complete it within whatever time-frame you need it. Have our writers give you:</p>
                <div class="content" style="text-align: center;">
                  <ul>
                    <li>A perfect project to work from</li>
                    <li>Custom written exactly as you specify</li>
                    <li>Completed by whatever day you need it</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column is-5-tablet is-offset-1-desktop p-4 mt-6 is-hidden-mobile">
              <img class="image is-fullwidth rounded-corners" src="{% static 'images/stressed-man-glasses.webp' %}" alt="stressed man with glasses leaning against a wall" width="1000" height="667">
            </div> 
          </div>
        </div>  
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container is-widescreen m-auto p-4 mb-6">
          <div class="columns is-multiline is-align-items-center p-2">
            <div class="column is-5-tablet p-4 mb-2 is-hidden-mobile"> 
              <img class="image is-fullwidth rounded-corners" src="{% static 'images/woman-glasses-computer.webp' %}" alt="Smiling woman wearing glasses using a laptop computer" width="1000" height="667">
            </div>
            <div class="column is-6-tablet is-6-desktop is-size-6-mobile is-offset-1-desktop">
              <div class="doubleBorder p-6 m-auto"> 
                <h2 class="is-size-3 has-text-weight-bold has-text-centered has-text-success">Projects that get Perfect Grades</h2> 
                <p class="is-size-6 has-text-light mt-4">With professional academic writers and the guarantee that we follow your instructions exactly, you can't go wrong with Paper Masters. 
                  Our writers know what your professor wants. 
                  For over 25 years, Paper Masters has been helping students succeed!</p>
                <div class="content" style="text-align: center;">
                  <ul>
                    <li>Family run company and based in the US</li>
                    <li>Writers with doctorates and all with advanced degrees</li>
                    <li>Guarantees we stand behind</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <br>
        <br>  
      </section>
        
      <section class="section diagonal-split-background-rev is-small">
        <!--  -->
        <div class="container">
          <div class="mb-6 columns is-multiline is-justify-content-center is-justify-content-space-evenly">
            <div class="column is-8 has-text-centered"> 
              <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold has-text-light">Professional Writing and Research Services for Students</h2>
            </div>
          </div>
          <div class="columns is-multiline is-justify-content-center is-justify-content-space-evenly">
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-info is-3 has-text-centered has-text-grey-dark" style="height: 100%">
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-start">
                  <figure class="image is-128x128 pt-4">
                    <img class="is-rounded" src="{% static 'images/our-writing-services.webp' %}" alt="Hands Typing on Computer" width="200" height="200">
                  </figure> 
                </span>
                <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Our Writing Services</h5>
                <p class="has-text-light mx-auto is-size-6">Our writers can write any project you need. Research papers, discussion posts, PowerPoint projects, and more. <a href="{% url 'toplevel:service_page' %}">Learn more about research writing...</a></p>
              <div> 
              </div>
          </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-info is-3 has-text-centered has-text-grey-dark" style="height: 100%">
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-start">
                  <figure class="image is-128x128 pt-4">
                    <img class="is-rounded" src="{% static 'images/any-type-paper.webp' %}" alt="Students in Library" width="200" height="200">
                  </figure> 
                </span>
                <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Any Type of Paper</h5>
                <p class="has-text-light mx-auto is-size-6">Professionals write any type of paper you need. Case studies, admissions essays, discussion posts and so much more.<a href="#"> Learn about types of research projects...</a></p>
              <div> 
              </div>
          </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-info is-3 has-text-centered has-text-grey-dark" style="height: 100%">
                  <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-start">
                    <figure class="image is-128x128 pt-4">
                      <img class="is-rounded" src="{% static 'images/any-subject-topic.webp' %}" alt="Student Reading a Book" width="200" height="200">
                    </figure> 
                  </span>
                  <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Any Subject or Topic</h5>
                  <p class="has-text-light mx-auto is-size-6">Since all our projects are custom written, you can have our writers write on any subject or topic you need. <a href="{% url 'toplevel:subjects_page' %}">List of topics to choose from here...</a></p>
                <div> 
                </div>
            </div>
            </div> 
          </div> 
            </div>  
            <!--  -->
        <br>
      </section>
        
      <section class="section blended-background-two is-small">
        <div class="container">
          <div class="mb-6 columns is-multiline is-justify-content-center is-justify-content-space-evenly">
            <div class="column is-8 has-text-centered"> 
              <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">What Our Clients Say</h2>
              <p class="subtitle has-text-warning">Don't take Our Word for it!</p>
            </div>
          </div>
          <div class="columns is-multiline is-justify-content-center is-justify-content-space-evenly">
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-white has-text-grey-dark" style="height: 100%">
                <p>
                    <span class="font-bold has-text-primary is-size-5">
                        “
                    </span>
                    I work full time and i just can't do it all. Having Paper Masters help me with my discussion posts saved me from having to redo my last class for my Nursing Degree.
                    <span class="font-bold has-text-primary is-size-5">
                        ”
                    </span>
                </p>
                <div class="is-flex is-align-items-center is-justify-content-flex-start mt-4">  
                    <i class="fa-duotone fa-user-vneck-hair-long fa-3x"></i>
                  <div class="is-flex is-flex-direction-column ml-2 is-align-content-space-between">
                  <span class="font-semibold has-text-weight-bold">Shannon D.</span>
                  <span class="is-size-7 is-flex is-align-items-center">Paper Masters Customer</span>
              </div>
                </div>
            </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-white has-text-grey-dark" style="height: 100%">
                <p>
                    <span class="font-bold has-text-primary is-size-5">
                        “
                    </span>
                    I called to see if they were a scam and someone actually answered the phone. Karen was great at answering my questions and made sure my project was just what I needed. Crazy…they answer the phone!<span class="font-bold has-text-primary is-size-5">
                        ”
                    </span>
                </p>
                <div class="is-flex is-align-items-center is-justify-content-start mt-4"> 
                  <i class="fa-duotone fa-user-vneck-hair fa-3x"></i>
                        <div class="is-flex is-flex-direction-column ml-2 is-align-content-space-between">
                        <span class="font-semibold has-text-weight-bold">Alex A.</span>
                        <span class="is-size-7 is-flex is-align-items-center">Paper Masters Customer</span>
                    </div>
                </div>
            </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4">
              <div class="box has-background-white has-text-grey-dark" style="height: 100%">
                <p>
                    <span class="font-bold has-text-primary is-size-5">
                        “
                    </span>
                    I hoped my paper would be good enough to pass. It was fantastic! I uploaded my instructions and the rubric, and the paper matched them perfectly. I’ve used them over and over and each time has been great. PM has never left me hanging, even for stuff I need overnight.
                    <span class="font-bold has-text-primary is-size-5">
                        ”
                    </span>
                </p>
                <div>
                <div class="is-flex is-align-items-center is-justify-content-start mt-4"> 
                  <i class="fa-duotone fa-user-tie-hair fa-3x"></i>
                  <div class="is-flex is-flex-direction-column ml-2 is-align-content-space-between">
                  <span class="font-semibold has-text-weight-bold">Jamal J.</span>
                  <span class="is-size-7 is-flex is-align-items-center">Paper Masters Customer</span>
              </div>
            </div>
                </div>
            </div>
            </div> 
          </div> 
            </div>  
      </section> 
      <section class="section is-small homefooter-cover">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-11 glassLight mx-auto has-text-centered"> 
              <div class="columns is-centered">
                <div class="column is-two-thirds has-text-centered"> 

                  <span class="mt-2 mb-4 p-2 has-text-success">
                    <h2 class="is-size-3 is-size-4-mobile has-text-weight-bold">Don't wait another minute to get it done!</h2>
                    <p class="is-size-4 is-size-5-mobile">- Custom Written and Guaranteed -</p>
                  </span>
                  <div class="buttons is-centered mb-4 p-5"><a class="button is-warning is-medium has-text-weight-bold has-text-black-bis" href="{% url 'toplevel:order' %}">Order Here</a>
                  </div> 
                </div>
              </div>
            </div>  
          </div>
        </div>
      </section>
      {% endblock forhome %}  

  </body>
</html>